<div class="row">
	<div class="col-md-4"></div>
	<form class="col-md-4 login-form">
  		<fieldset>
    		<div class="form-group">
      			<label for="email">Email</label>
      			<input type="text" id="email" class="form-control" placeholder="Email">
    		</div>
    		<div class="form-group">
      			<label for="password">Password</label>
      			<input type="text" id="password" class="form-control" placeholder="Password">
    		</div>
    		<button type="submit" class="btn btn-primary btn-block">Login</button>
  		</fieldset>
	</form>
	<div class="col-md-4"></div>
</div>